
<div class="container">
    <div class="banner">
      <h1>Looks irresistíveis para mulheres únicas Fashion Fusion</h1>
      <img src="../img/Group 1.png" alt="">
    </div>  
    <div class="categorias">
      <div class="categoria" *ngFor="let category of categories">
        <h2>Infantil</h2>
        <div class="items">
                <div class="item" *ngFor="let item of category.items">
                  <img src="../img/Rectangle 101.png" alt="" />
                  <p>Vestido infantil menina estampado tema borboletas feminino casual</p>
                  <p>R$57,80</p>
                </div>
                <div class="item" *ngFor="let item of category.items">
                  <img src="../img/Rectangle 102.png" alt="" />
                  <p>Conjunto Menino Infantil Estampa</p>
                  <p>R$64,56</p>
                </div>
                <div class="item" *ngFor="let item of category.items">
                  <img src="../img/Rectangle 103.png" alt="" />
                  <p>Elastano</p>
                  <p>R$71,00</p>
                </div>
                    <h2>Feminina</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
                    <h2>Casual</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
                    <h2>Praia</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
                    <h2>Academia</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
                    <h2>Social</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
                    <h2>Jóias</h2>
            <div class="items">
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 104.png" alt="" />
                      <p>Blusa morcego transpassada decote V cropped feminino lisa</p>
                      <p>R$39,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 105.png" alt="" />
                      <p>Kit 2 cropped feminino top alças finas de elástico suplex liso</p>
                      <p>R$23,54</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 106.png" alt="" />
                      <p>Short com cinto de alfaiataria tendência 202</p>
                      <p>R$42,00</p>
                    </div>
                    <div class="item" *ngFor="let item of category.items">
                      <img src="../img/Rectangle 107.png" alt="" />
                      <p>Kit 2 moletom ribana cos alto</p>
                      <p>R$61,00</p>
                    </div>
            </div>
      </div>
    </div>
  
    <div class="contact-info">
      <h3>Fale Conosco</h3>
      <p>Telefone: (69) 9939-2034</p>
      <p>Email: contato@fashionfusion.com.br</p>
    </div>
  </div>
  